@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body{
    font-size: 62.5%;/*62.5 es igual a 10px. ejemplo 1.8rem == 18px*/ 
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body{
    background-color: #EDF1F2;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
li, a, button{
    font-weight: 500;
    font-size: 1.6rem;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    
    background-color: #242528;
}

#logo{
    cursor: pointer;
}
.nav-links{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    font-size: 3rem;
}
.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:  rgba(0, 136, 169, 0.8);
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

/*********Estilos nav y footer arriba***************************/

.nombre-web {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Metal Mania";
    font-weight: normal;
    color: white;
}

.jav-container:after,.jav-container:before{content:"";display:table;clear:both}
.jav-container{padding:0.01em 16px; font-size: 2rem;}
.jav-back{
    color:#fff!important;
    background-color:rgba(0, 0, 0, .6);
    background-image: url("../assets/img/back-food-1.jpg"); 
    background-blend-mode: multiply;
    background-size: cover;
}
.jav-center .jav-bar{display:inline-block;width:auto}
.jav-center{text-align:center}
.jav-center{text-align:center!important}
.jav-margin{margin:16px!important}
.jav-jumbo{font-size:64px!important}
.slogan{
    font-size:24px!important;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.jav-row-padding:after,.jav-row-padding:before{content:"";display:table;clear:both}
.jav-row-padding,.jav-row-padding>.jav-twothird{padding:0 8px}
.jav-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.jav-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.jav-content,.jav-auto{margin-left:auto;margin-right:auto}
.jav-content{max-width:980px}
.jav-twothird{float:left;width:100%}
.jav-twothird{width:66.66666%}
.jav-third{float:left;width:100%}
.jav-third{width:33.33333%}
.jav-third,.jav-row-padding>.jav-twothird{padding:0 8px}

.jav-margin-right{margin-right:16px!important}
.jav-light-grey,.jav-hover-light-grey:hover,.jav-light-gray,.jav-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
/**************For the menu de compras****************************/
.content-section {
    margin: 1em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 300px;
    width: 300px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
.imgSeccion{
    width: 31rem;
    height: 400px;
}

input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    border: 1px solid #eee;
    background-color: rgba(94, 232, 241, 0.6);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 1px solid #eee;
    background-color: rgba(94, 232, 241, 1);
}

.containerButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    
  }
.containerButton .btn-holder a i{
    font-size: 7rem;
}
.btn-holder :hover{
    transform: scale(1.5);
}
.categorias{
    margin-top: 3rem;
    margin-left: 3rem;
}
.filterDiv {
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
.show {
    content: "";
    display: table;
    clear: both;
}
/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}