*{
    box-sizing: border-box;
}
body{
    background-image: url("../assets/img/back.jpg");
    background-repeat: repeat-y;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
h6{
    color: red;
    margin: 25px 50px 75px 100px;
    padding: 25px 50px 75px;
}
.producto{
    font-size: 1.5rem;
}
#userImg{
    width: 64px;
    height: 64px;
}
.imgProducto{
    width: 350px;
    height: 200px;
}
td{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .producto {
      width: 100%;
    }
  }